<!-- filter section --->
<div class="row">
	<div class="panel panel-primary" style="background-color: rgb(245, 245, 245);">
		<div class="panel-heading"> 
				<h2 class="panel-title text-center" style="color:rgb(256,256,256); font-size:22px">
					Table
				</h2>
		</div>
		<div class="panel-body">
			 	<div class="col-md-2 col-md-offset-4">
					<select ng-model="tables_filter" >
			     		<option ng-repeat="db in db_list " value="{{db.name}}">{{db.name}}</option>
			  			// unique options from the categories
					</select>
				</div>
				
		</div>
	</div>
</div>
<div ui-view></div>
	