<!-- filter section --->
	<div class="row">
		<div class="col-md-2">
		<!--Sidebar content-->
	 		Status filter
	 	</div>
	 	<div class="col-md-2">
			<select ng-model="status_filter" >
	     		<option value="!!">-- All Status --</option>
	     		<option ng-repeat="job in filteredData | unique:'status'" value="{{job.status}}">{{job.status}}</option>
	  			// unique options from the categories
			</select>
		</div>
		<div class="col-md-2">
			Task filter 
		</div>
		<div class="col-md-2">   
			<select ng-model="task_filter" >
				<option value="!!">-- All Tasks --</option>
	 			<option ng-repeat="job in filteredData | unique:'task'" value="{{job.task}}">{{job.task}}</option>
			</select>
		</div>
		<div class="col-md-2">	 
			Production filter &nbsp; 
		</div>
		<div class="col-md-2">   
			<select ng-model="production_filter" >
	    		<option value="!!">-- All Jobs --</option>
	 			<option ng-repeat="production in productions " value="{{production.job_id}}">{{production.release}}</option>
			</select> 
			<br>
		</div>
	</div>     
       <!-- filter section end here---> 