<div class="container">
<!-- filter section --->
	<div class="row">
		<div class="col-md-2">
		<!--Sidebar content-->
	 		Status filter
	 	</div>
	 	<div class="col-md-2">
			<select ng-model="status_filter" >
	     		<option value="!!">-- All Status --</option>
	     		<option ng-repeat="job in filteredData | unique:'status'" value="{{job.status}}">{{job.status}}</option>
	  			// unique options from the categories
			</select>
		</div>
		<div class="col-md-2">
			Task filter 
		</div>
		<div class="col-md-2">   
			<select ng-model="task_filter" >
				<option value="!!">-- All Tasks --</option>
	 			<option ng-repeat="job in filteredData | unique:'task'" value="{{job.task}}">{{job.task}}</option>
			</select>
		</div>
		<div class="col-md-2">	 
			Production filter &nbsp; 
		</div>
		<div class="col-md-2">   
			<select ng-model="production_filter" >
	    		<option value="!!">-- All Jobs --</option>
	 			<option ng-repeat="production in productions " value="{{production.job_id}}">{{production.release}}</option>
			</select> 
			<br>
		</div>
	</div>     
       <!-- filter section end here---> 
<!-- data table section --->
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped  table-hover">	
				<thead>
					<tr>
						<th><a href="" ng-click="orderProp = 'id'; reverse=!reverse">ID</a></th>
						<th><a href="" ng-click="orderProp = 'task'; reverse=!reverse">Name</a></th>
						<th>Jobs</th>
						<th><a href="" ng-click="orderProp = 'status'; reverse=!reverse">Status</a></th>
						<th>QC</th>
						<th><a href="" ng-click="orderProp = 'ts_created'; reverse=!reverse">Created</a></th>
						<th><a href="" ng-click="orderProp = 'ts_started'; reverse=!reverse">Started</a></th>
						<th><a href="" ng-click="orderProp = 'ts_ended'; reverse=!reverse">Ended</a></th>
						<th>All subjobs</th>
						<th>One level subjobs</th> 
					</tr>
				</thead>
			<tbody>
				<tr ng-repeat="job in filteredData = (jobs |filter:{status:status_filter} | filter:{task:task_filter} | job_check:production_filter) | startFrom:currentPage*maxSize | limitTo:maxSize" >
					<td><a href="">{{job.id}}</a></td>
					<td><p>{{job.task}}</p>  </td>
					<td><p>{{job.nbr}}</p></td>
					<td> <p>{{job.status}}</p>   </td>
					<td> <i class= "{{job.qc && 'icon-ok' || 'icon-remove' }}" ></i> </td>
					<td> <p>{{job.ts_created | date:'medium'}}</p>   </td>
					<td> <p>{{job.ts_started | date:'medium'}}</p>   </td>
					<td> <p>{{job.ts_ended | date:'medium'}}</p>   </td>
          			<td> <a ng-show="job.nbr > 0"  href="#/detailed_view/{{job.id}}/All" class="btn btn-primary"><i   class="icon-pencil"></i></a> </td>
					<td> <a ng-show="job.nbr > 0"  href="#/detailed_view/{{job.id}}/1" class="btn btn-primary"><i   class="icon-pencil"></i></a> </td>
         		</tr>
			</tbody>  
		</table>
		<pagination total-items="filteredData.length" page="currentPage"></pagination>
		
		
		  {{maxSize}}
	</div>
	
</div>