<div class="container">
	<div class="row">
		<div class="col-md-2">
		<!--Sidebar content-->
	 		ID filter 
	 	</div>
	 	<div class="col-md-2">
	
	     		
	     		<input ng-model="id_filter">
	
		</div>
		<div class="col-md-2">
			Status Filter
		</div>
		<div class="col-md-2">   
			<select ng-model="status_filter" >
				
	 			<option ng-repeat="job in jobs | unique:'status'" value="{{job.status}}"  >{{job.status}}</option>
	 			<option value="!!">-- All Status --</option>
			</select>
		</div>
	</div>    
	<div class="row">
		<div class="col-md-12" style="overflow: auto">
		
		<div class="table-responsive">
			
			<table class="table ">	
				<thead>
					<tr>
						<th class = "text-center" > Number </th>
						<th class = "text-center" > Status </th>
						<th class = "text-center" > Request date </th>
						<th class = "text-center" > Delivery date </th>
						<th class = "text-center" > Query </th>
						<th class = "text-center" > Download  </th>
					</tr>

				</thead>
	    		<tbody>
					<tr ng-repeat="job in filteredData = (jobs | filter:{status:status_filter} | filter:{id:id_filter}) | startFrom:(currentPage-1)*maxSize | limitTo:maxSize"  >
						<td class = "text-center" >
							{{job.id}}				
						</td>
						<td class = "text-center" >
							{{job.status}}				
						</td>
						<td class = "text-center" >
							{{job.request_date}}				
						</td>
						<td class = "text-center" >
							{{job.delivery_date}}				
						</td>
						<td class = "text-center" >
							{{job.query}}				
						</td>
						<td class = "text-center" ng-show="job.status == 'DONE' ">
							<a href="{{job.download}}/{{user_id}}/{{token}}">Result </a><br />
						</td>				
					</tr>
				</tbody>  
			</table>
			<pagination total-items="filteredData.length "  max-size="maxSize" page="currentPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
		</div>
	</div>		