


<div class="container">
	<div class="row">
		<div class="col-md-12" style="overflow: auto">
		
		<div class="table-responsive">
			
			<table class="table ">	
				<thead>
					<tr>
						<th></th>
						<th class = "text-center" ng-repeat="head in headers"> {{head| uppercase}} </th>
						<th class = "text-center" ng-repeat="(name, fn) in operations">{{name}} </th>
					</tr>
				</thead>
	    		<tbody>
					<tr ng-repeat="result in resources" ng-init="sectionIndex = $index" >
					 <td ><i ng-show="!(resources_op_info[sectionIndex] === undefined)" class= "{{resources_op_info[sectionIndex]['success'] && 'glyphicon glyphicon-ok' || 'glyphicon glyphicon-remove' }}" ></i> </td>
						<td ng-repeat="key_value in headers">
							<div ng-if="check_type(result[key_value]) == 'boolean'">
								<button type="button" class="btn btn-default" ng-model="result[key_value]" btn-checkbox >
       							 	{{result[key_value]}}
    							</button>
							</div>
							<div ng-if="(check_type(result[key_value]) != 'boolean') && check_type(result[key_value]) != 'object'">
								<div class="form-group"> 
									<input name="input" ng-model="result[key_value]" class="form-control" required>
								</div>
							</div>
							<div ng-if="check_type(result[key_value]) == 'object'">
								<div class="btn-group">
    							<button ng-repeat="(key, value) in result[key_value]" type="button" class="btn btn-default" ng-model="result[key_value][key]" btn-checkbox style="margin-left:5px"> {{key}}</button>
    							</div>
							</div>							
						</td>				
						<td  ng-repeat="(name, op) in operations">
							<button type="button" class="btn btn-primary" ng-click="op.call(this,sectionIndex)">
								{{name}}
							</button>
	    				</td>
					</tr>
				</tbody>  
			</table>
		</div>
	</div>		
